.expense-modal {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    outline: none;
}

.expense-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-actions {
    display: flex;

    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px;
    margin-left: 10px;
}

.wallet-balance,
.add-expense-form {
    background-color: #999;
    padding: 1rem 1.5rem;
    width: 25%;
    gap: 10px;
    /* min-width: fit-content; */
    text-align: center;
    border-radius: 10px;
}

.wallet-balance>h2>span {
    color: #3e3;
}

.add-expense-form>h2>span {
    color: orange;
}

.wallet-balance>button,
.add-expense-form>button {
    background-color: #3e3;
    margin: 1rem 0;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: #fff;
    border: none;
}

.add-expense-form>button {
    background-color: rgb(255, 94, 94);
}

.transactions-list {
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin: 0;
    color: #222;
    height: 270px;
    position: relative;
}


.btns-div,
.title-div,
.delete-btn,
.transactions-list>li,
.edit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.text-div {
    margin-left: 10px;
}

.text-div * {
    color: #111;
    padding: 0;
    margin: 0;
}

.text-amount {
    color: orange;
}

.text-date {
    color: grey;
}

.transactions-list>li {
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.delete-btn,
.edit-btn {
    border: none;
    border-radius: 12px;
    width: 34px;
    height: 34px;
    flex-direction: column;
    background-color: red;
    color: #fff;
}

.edit-btn {
    background-color: orange;
}

/* Add to your CSS file */
.custom-modal-style {
    /* width: 400px; */
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2rem;
    background: rgb(223, 223, 223);
}

.custom-overlay-style {
    background-color: rgba(0, 0, 0, 0.75);
}

.input-div {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    box-sizing: border-box;
}

.input-div>* {
    width: 150px;
    /* border-radius: 10px; */
}

.modal-input,
.modal-add-button,
.modal-cancel-button {
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.modal-input:focus {
    outline: none;
}

.modal-cancel-button {
    background-color: rgb(223, 223, 223);
}

.modal-add-button {
    background-color: orange;

}

.expense-trends {
    width: 100%;
    padding-top: 0;
    border-radius: 10px;
}

@media 
(max-width: 991px) {
    .wallet-balance,
.add-expense-form, .expense-summary {
    width: 80%;
    margin-top: 1rem;
}

}


/* .wallet-box,
.expense-box {
    background-color: rgb(158, 157, 157);
    width: 100%;
    padding: 1rem 0;
    border-radius: 1rem;
    text-align: center;
    margin: 1rem;
}

.wallet-box>*,
.expense-box>* {
    margin: 1rem;
}

.wallet-div, .expense-div {
    font-size: 1.2rem;
}

.wallet, .expense {
    font-weight: bold;
    color: greenyellow
}
.expense{
    color:#db631d
} */
/* 
button {
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
}

.wallet-btn {

    background-color: rgb(135, 206, 28);
}

.expense-btn {

    background-color: rgb(214, 60, 55);
} */