.App {
  margin: 0;
  padding: 0 20px;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 10px 0;
}

.wallet-balance,
.add-expense-form,
.expense-list,
.expense-summary,
.expense-trends {
  /* margin-bottom: 20px; */
}

button {
  padding: 10px;
  margin-left: 10px;
}

.top-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  gap: 1rem;
  padding: 1rem;
  background-color: #666;
}

.bottom-div {
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  gap: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* display: grid; */
}

.item-1 {
  width: 60%;
}

.item-2 {
  width: 40%;
}

@media

/* (min-width: 768px) and */
(max-width: 991px) {

  .bottom-div {

    display: block;
  }

  .top-div {
    display: flex;
  }

  .item-1 {
    width: 100%;
  }

  .item-2 {
    width: 100%;
  }

}

/* .App {
  color: #eee;
  height: 100vh;
  background-color: #333333;
  padding: 0 2.5rem;
}
h2{
  margin: 10px 0;
}
.dashboard{
  background-color: #555;
  border-radius: 1rem;
  padding: 8px;
  margin: 8px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
} */